	body{
		font-family: Arial,Verdana,sans-serif;
	}
	table,th,td {
		padding: 2px;
		border: solid 1px;	
		background-color: HoneyDew;
		border-color: #BDBDBD;
		border-collapse: collapse;
	}
	th{
		background-color: #DCFFDC;
		font-weight: bold;
	}
	.parent{
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
	}
	.child{
		margin: 50px;
		width: 800px;
	}
	.repoHeader{		
		margin: 0;
	}