	body{
		font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	}
	table,th,td {
		padding: 2px;
		border: solid 1px;	
		background-color: HoneyDew;
		border-color: #BDBDBD;
		border-collapse: collapse;
	}
	table.aTable{
		width: 750px;
	}
	table.eTable{
		width: 400px;
	}
	th{
		background-color: #DCFFDC;
		font-weight: bold;
	}
	.dataTables_wrapper{
	    display: inline-block;
		vertical-align: top;
	}
	.parent{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.child{
		margin: 15px auto;
	}
	.repoHeader{		
		margin: 0;
	}
	.pageHeader{		
		text-align: center;
	}
	table.dataTable tbody td {
		padding: 2px 4px;
	}